#navbarSupportedContent{
    position: relative;
    padding: 0px;
    margin-right: 10px;
    margin-left: 10px;
    visibility: visible;
    
}

.navbar-brand{
  padding: 5px;
  margin-left: 10px;
  font-size: 20px;
}

#hiddenSupportedContent{
  position: absolute;
  left: 100px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  visibility: hidden;
}

#navbarSupportedContent ul li{
  padding: 0px;
  font-size: 15px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  left: 0px;
}


#nav-layout {
  padding-top: 10px;
}

h1 {
  padding: 0px;
  text-align: center;
  position: relative;
}

#links {
  position:absolute;
  left: 80%;
  top: 120px;
}

h2{
  text-align:center;
}

#profile {
  max-width: 15%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-color:green;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.carousel-indicators li{
  display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: skyblue;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: blue;
}

/*Adding media queries to show the drop-down, and hide the navbar when the screen is smaller */
@media (max-width: 600px) {
    /* #defaultnav {
      padding: 10px;
    } */


    #navbarSupportedContent{
      visibility: hidden;
    }
  
    #hiddenSupportedContent{
      visibility: visible;
    }

    /* .navbar-toggler{
        visibility: visible;
    } */

  }
  